<?xml version="1.0"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{"yyyy-MM-dd'T'HH:mm:ss,SSSXXX", UTC} X-Trace-Id: %X{X-Trace-Id} %highlight(%-5level) %magenta(%logger{30}) - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.kestraa.payment" level="INFO" />
    <logger name="com.zaxxer.hikari" level="error" />
    <logger name="com.zaxxer.hikari" level="DEBUG" />

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
